<html>

<header>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/jquery.min.js"
        integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/respond.min.js"
        integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css"
        integrity="sha512-cp9JSDyi0CDCvBfFKYLWXevb3r8hRv5JxcxLkUq/LEtAmOg7X0yzR3p0x/g+S3aWcZw18mhxsCXyelKWmXgzzg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
        integrity="sha512-6f7HT84a/AplPkpSRSKWqbseRTG4aRrhadjZezYQ0oVk/B+nm/US5KzQkyyOyh0Mn9cyDdChRdS9qaxJRHayww=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"
        integrity="sha512-GG/1z6B4MVJdQOw35lE4otrbjd2WYV+zhXgjUR+DTeaAc7s/ijgWsexEScSOIo8J4RlhC28CVerDjYQSH89ekQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</header>
<style>
    @font-face {
        font-family: 'Symbola';
        src: url('/static/ttf/Symbola.ttf');
    }

    .shareBox {

        width: 99%;
        height: 100px;
        border-radius: 6px;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 2px;

    }


    .sbx {

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainContainer {
        padding-top: 10px;

        width: 70%;

        border-radius: 6px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
</style>

<head>
    <title>Modal Component</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sandbox.css" />

    <!-- template for the modal component -->
</head>

<body>
    <div id="app" style="padding-left: 20px;padding-top: 20px;padding-right: 20px;">
        <div v-if="modVisible">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <form @submit.prevent="subHandler">
                            <vue-ctk-date-time-picker v-model="date" :range="false">
                            </vue-ctk-date-time-picker>
                            <input type="text" value="" placeholder="сообщение"  v-model="message" class="form-control">
                            <div>
                                <div style="padding-top: 10px;padding-bottom: 10px;">
                                    <select class=" select  select-block  select-primary ">
                                        <optgroup label="Единоразово">
                                            <option value="0">Один раз</option>
                                        </optgroup>
                                        <optgroup label="Систематически">
                                            <option value="1">Каждый час</option>
                                            <option value="2">Ежедневно</option>
                                            <option value="3">Еженедельно</option>
                                            <option value="4">Ежемесячно</option>
                                        </optgroup>
                                    </select>
                                </div>

                            </div>
                            <div style="padding-left: 30px;">
                                <button v-on:click="modVisible=false" class="btn btn-lg btn-danger"
                                    style="width: 150px;">cancel</button>
                         
                                <button type="submit"  class="btn btn-lg btn-success"
                                    style="width: 150px;">ok</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="padding-left: 30px;">
        <button v-on:click="inst()" class="btn btn-lg btn-success" style="width: 150px;">Create
            posts</button>
        <a href="#fakelink" class="btn btn-lg btn-inverse" style="width: 150px;">Update posts</a>

    </div>

    <div v-if="items.length > 0 ">

        <div style="padding-top: 10px;">
            <div class="mainContainer">
                <div v-for="item in items" :key="item.message">
                    <div style="padding-left: 20px;padding-top: 20px;padding-right: 20px;">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3 class="uk-card-title">{{item.date}}</h3>
                            <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    </div>
</body>

<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.css">
<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.umd.min.js"
    charset="utf-8"></script>
<script>
    Vue.component('vue-ctk-date-time-picker', window['vue-ctk-date-time-picker']);
    var app = new Vue({
        el: '#app',
        data: {
            date: null,
            login: null,
            message: null,
            modVisible: false,
            value: null,
            passT: null,
            items: [{ date: "lol" },
            { date: 22 }
            ]
        },
        methods: {
            inst() {
                app.modVisible = true;
            },
            AxiosSend() {

                app.modVisible = false
            },
            subHandler() {
                this.errors = [];
                console.log( " mesage:"+this.message+ " date: "+this.date)
                if (!this.message) {
                    this.errors.push('введите сообщение');
                }
                
                
                if (this.errors.length == 0) {
                    console.log("reg ok")
                    app.modVisible = false
                } else {

                    console.log(this.errors)
                }

            },

        }

    })

</script>

</html>