<html>

<header>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/jquery.min.js"
            integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/respond.min.js"
            integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css"
          integrity="sha512-cp9JSDyi0CDCvBfFKYLWXevb3r8hRv5JxcxLkUq/LEtAmOg7X0yzR3p0x/g+S3aWcZw18mhxsCXyelKWmXgzzg=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
          integrity="sha512-6f7HT84a/AplPkpSRSKWqbseRTG4aRrhadjZezYQ0oVk/B+nm/US5KzQkyyOyh0Mn9cyDdChRdS9qaxJRHayww=="
          crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"
            integrity="sha512-GG/1z6B4MVJdQOw35lE4otrbjd2WYV+zhXgjUR+DTeaAc7s/ijgWsexEScSOIo8J4RlhC28CVerDjYQSH89ekQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</header>
<style>
    @font-face {
        font-family: 'Symbola';
        src: url('/static/ttf/Symbola.ttf');
    }

    .shareBox {

        width: 99%;
        height: 100px;
        border-radius: 6px;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 2px;

    }


    .sbx {

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainContainer {
        padding-top: 10px;

        width: 70%;

        border-radius: 6px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
</style>

<head>
    <title>Modal Component</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sandbox.css" />

    <!-- template for the modal component -->
</head>

<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/auth/">Туда</a></li>
		<li><a href="/about">Сюда</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container" id="app" >
    <div v-if="modVisible">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <form @submit.prevent="subHandler">
                        <vue-ctk-date-time-picker     locale="en" v-model="date" :range="false">
                        </vue-ctk-date-time-picker>
                        <div style="padding-top: 4px;">   <input type="text" value=""  placeholder="сообщение" v-model="message" class="form-control"></div>
                        <!--  <select v-model="city">

                            <option value="Москва">Москва</option>

                          </select>-->
                        <div>пиз
                            <div style="padding-top: 10px;padding-bottom: 10px;">
                                <select v-model="repeat" class=" select  select-block  select-primary ">
                                    <optgroup label="Единоразово">
                                        <option value="one">Один раз</option>
                                    </optgroup>
                                    <optgroup label="Систематически">
                                        <option value="hour">Каждый час</option>
                                        <option value="day">Ежедневно</option>
                                        <option value="everyweek">Еженедельно</option>
                                        <option value="month">Ежемесячно</option>
                                    </optgroup>
                                </select>
                            </div>

                        </div>
                        <div style="padding-left: 30px;">
                            <button v-on:click="modVisible=false" class="btn btn-lg btn-danger"
                                    style="width: 150px;">cancel</button>

                            <button type="submit" class="btn btn-lg btn-success" style="width: 150px;">ok</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div style="">
    <button v-on:click="inst()" class="btn btn-lg btn-success">Запланировать</button>
    <button  v-on:click="updatePosts()"  class="btn btn-lg btn-inverse">Обновить список</a>

</div>

<div v-if="items.length > 0 ">

    <div style="padding-top: 10px;">
        <div class="mainContainer">
            <div v-for="item in items" :key="item.message">
                <div style="padding-left: 0px;padding-top: 20px;padding-right: 20px;">
                    <div class="uk-card uk-card-default " style="padding: 10px 0px;">
                        <div>Date: {{item.Date}} {{item.Time}} Period: {{item.Period}} ID: {{item.Id}}
                            <button v-on:click="deletepost(item.Id)" class="uk-button uk-button-default" style="padding: 0px 4px;font-size: .875rem;
                                line-height: 30px;">Удалить</button></div>
                        <div>{{item.Message}}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</div>
</body>

<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.css">
<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.umd.min.js"
        charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    Vue.component('vue-ctk-date-time-picker', window['vue-ctk-date-time-picker'],
    );
    var app = new Vue({
        el: '#app',
        data: {
            date: null,
            city: 'city',
            repeat: "one",
            login: null,
            message: null,
            modVisible: false,
            value: null,
            passT: null,
            locale: 'fr',
            items: [ ]
        },
        created() {
            console.log("send")
            axios.get(`/auth/record_get`)
                .then(function (response) {
                    // handle success
                    console.log(response);
                    if (response.data.Error != null) {
                        console.log(response.data.Error);

                    } else {
                        console.log("created ok")
                        console.log(decodeURIComponent(response.data))
                        app.items = response.data

                    }

                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
        },
        methods: {
            inst() {
                app.modVisible = true;
            },
            deletepost(id) {
                console.log("delete>",id)
                axios.get(`/auth/record_delete?id=${id}`)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        if (response.data.Error != null) {
                            console.log(response.data.Error);

                        } else {
                            console.log("deleted> ok")
                            app.updatePosts()

                        }

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
            },
            updatePosts(){
                console.log("updatePosts> send")
                axios.get(`/auth/record_get`)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        if (response.data.Error != null) {
                            console.log(response.data.Error);

                        } else {
                            console.log("created ok")
                            console.log(decodeURIComponent(response.data))
                            app.items = response.data

                        }

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });

            },
            AxiosSend(message, date, city, repeat) {
                console.log("AxiosSend> message:" + message + " date: " + date + " city: " + city + " repeat: " + repeat)
                axios.get(`/auth/record_create?message=${message}&date=${date}&city=city&period=${repeat}`)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        if (response.data.Error != null) {
                            console.log(response.data.Error);

                        } else {

                            console.log("AxiosSend>ok");
                        }

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
                app.updatePosts()
                this.message=""
                this.date=null
                app.modVisible = false
            },
            subHandler() {
                this.errors = [];
                console.log(" message:" + this.message + " date: " + this.date + " city: " + this.city + " repeat: " + this.repeat)
                if (!this.message) {
                    this.errors.push('введите сообщение');
                }


                if (this.errors.length == 0) {
                    console.log("reg ok")
                    app.AxiosSend(this.message, this.date, this.city, this.repeat)
                    // app.modVisible = false
                } else {

                    console.log(this.errors)
                }

            },

        }

    })

</script>

</html>
