<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Записи</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Время и дата</td>
            <td>Куда</td>
            <td>Текст</td>
        </tr>
        {{ range .Records}}
        <tr>
            <td>{{ .ID }} </td>
            <td>{{ .Date }}</td>
            <td>{{ .Destination }}</td>
            <td>{{ .Text }}</td>
        </tr>
        {{ else }}
        <tr>
            <td>Нет записей</td>
        </tr>
        {{ end }}
    </table>
    <h1>Города</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>ID Чата</td>

        </tr>
        {{ range .Cities }}
        <tr>
            <td> {{ .ID }}  </td>
            <td> {{ .Name }} </td>
            <td> {{ .ChatID }} </td>
        </tr>
        {{ else }}
        <tr>
            <td>Нет городов</td>
        </tr>
        {{ end }}
    </table>
    <h1>Юзеры</h1>
    <table>
        <tr>
            <td> ID</td>
            <td> Имя</td>
            <td> Логин</td>
        </tr>
        {{ range .Users }}
        <tr>
            <td> {{ .ID }}</td>
            <td> {{ .Name }} </td>
            <td> {{ .Login }} </td>
        </tr>
        {{ else }}
        <tr>
            <td>Нет записей</td>
        </tr>
        {{ end }}
    </table>
</body>
</html>