{{ template "base_header" }}
<head>
    <title>Index page</title>
</head>
<body>
    <h1>Записи</h1>
    <table>
        <tr class="table_header">
            <td>ID</td>
            <td>Время и дата</td>
            <td>Куда</td>
            <td>Текст</td>
        </tr>
        {{ range .Records}}
        <tr>
            <td>{{ .ID }} </td>
            <td>{{ .Date }}</td>
            <td>{{ .Destination }}</td>
            <td>{{ .Text }}</td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="4">Нет записей</td>
        </tr>
        {{ end }}
    </table>
    <h1>Города</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>ID Чата</td>
            
        </tr>
        {{ range .Cities }}
        <tr>
            <td> {{ .ID }}  </td>
            <td> {{ .Name }} </td>
            <td> {{ .ChatID }} </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="4">Нет городов</td>
        </tr>
        {{ end }}
    </table>
    <h1>Юзеры</h1>
    <table>
        <tr>
            <td> ID</td>
            <td> Имя</td>
            <td> Логин</td>
        </tr>
        {{ range .Users }}
        <tr>
            <td> {{ .ID }}</td>
            <td> {{ .Name }} </td>
            <td> {{ .Login }} </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3">Юзеров нет</td>
        </tr>
        {{ end }}
    </table>
    <h1>Конфиг</h1>
    <table>
        <tr>
            <td> Login</td>
            <td> Chat Link</td>
            <td> Bot Token</td>
        </tr>
        {{ range .ClientConfig }}
        <tr>
            <td> {{ .Login }}</td>
            <td> {{ .ChatLink }} </td>
            <td> {{ .BotToken }} </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3">Юзеров нет</td>
        </tr>
        {{ end }}
    </table>
</body>
{{ template "base_footer"}}