{{ template "header"}}

<head>
    <title>Страница всего!</title>
</head>

<body>
    <div id="app">

        <link rel="stylesheet" href="/static/css/dtsel.css" />
        <form action="/api/city_create" uk-grid class="uk-grid-small">
            <div class="uk-width-1-1">
                <input name="chat_id" placeholder="ID Чата" type="text">
                <input name="name" placeholder="Название города" type="text">
                <button type="submit">Создать</button>
            </div>
        </form>
        <form class="uk-grid-small" uk-grid action="/api/record_create">
            <div class="uk-width-1-1">
                <input name="dateTimePicker" placeholder="10\20\04 23:59" />
                <button type="submit">Создать</button>

            </div>
            <div class="uk-width-1-4">
                <textarea class="uk-textarea" name="text" id="" cols="15" rows="5"></textarea>
                <input type="text" name="cities" id="" placeholder="Vladimir, Moscow, etc...">
    
            </div>
            <div class="uk-width-1-2">
                <input type="text" name="login" id="" placeholder="Логин">
                <input type="text" name="password" id="" placeholder="Пароль">
            </div>
    
    
        </form>
        <table class="uk-table uk-table-hover">
            <caption>Записи</caption>
            <thead>
                <tr>
                    <th class="uk-table-shrink">ID</td>
                    <th>Когда отправить</td>
                    <th>Текст</td>
                </tr>
            </thead>
            <tbody>
                {{ range .Records }}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.Text}}</td>
                </tr>
                {{ else }}
                <tr>
                    <td colspan="3">nothing</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

    </div>
   
</body>

{{ template "footer"}}

</html>