{{ template "header"}}
<head>
    <title>Регистрация</title>
</head>
<body>

<div id="app">
    <p class="error_msg" v-if="errors.length">
        <b>Пожалуйста, исправьте ошибки:</b>
        <ul class="error_list">
            <li class="error_list" v-for="error in errors">${ error }</li>
        </ul>
    </p>
    <div class="modal-mask" style="background-color: rgba(0, 0, 0, 0)">
        <div class="modal-wrapper">
            <div class="modal-container" style="width: 400px;height: 400px;">
                <div class="switch-field">
                    <input type="radio" id="radio-one" name="switch-one" value="yes" checked />
                    <label for="radio-one" v-on:click="logreg=true" style="width: 171px">Registration</label>
                    <input type="radio" id="radio-two" name="switch-one" value="no" />
                    <label for="radio-two" v-on:click="logreg=false" style="width: 171px">Login</label>
                </div>
                <div v-if=" logreg">

                    <form @submit="checkForm" action="/api/user_create" method="get" novalidate="true">
                        <div style="height:60% ;">
                            <div style="padding-bottom: 7px;">
                                <input type="text" placeholder="Name" name="login" id="login" v-model="login"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="email" name="email" placeholder="email" id="email" v-model="email"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="password" placeholder="password" name="password" id="passF"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="password" placeholder="password" name="password" id="passT"
                                       class="form-control">
                            </div>

                        </div>

                        <div style="padding-top: 10px;">
                            <input type="submit" style="width: 340px;" class="btn btn-lg btn-success"
                                   value="Submit">
                        </div>

                    </form>

                </div>
                <div v-else>
                    <form @submit="checkForm" action="/api/" method="post" novalidate="true">
                        <div style="height:60% ;">
                            <div style="padding-bottom: 7px;">
                                <input type="text" placeholder="Name" name="name" id="name" v-model="name"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="email" name="email" placeholder="email" id="email" v-model="email"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="password" placeholder="password" name="password" id="passF"
                                       class="form-control">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <input type="password" placeholder="password" name="password" id="passT"
                                       class="form-control">
                            </div>

                        </div>

                        <div style="padding-top: 10px;">
                            <input type="submit" style="width: 340px;" class="btn btn-lg btn-success"
                                   value="Submit">
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>
</div>
</body>
{{ template "footer"}}
</html>
