<!doctype html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Error</title>
</head>


<body>

<div id="app">

    <div v-if="regVisible">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <form @submit.prevent="createHandler">

                        <fieldset class="uk-fieldset">

                            <legend class="uk-legend">Добавление записи</legend>

                            <!--   <div class="uk-margin">
                                <input class="uk-input" type="text" :placeholder='login'>
                            </div>-->
                            <div class="uk-margin">
                                <input class="uk-input" type="text" :placeholder='placeholder["0"].ChatLink'
                                       v-model='createdata["0"].ChatLink'>
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" :placeholder='placeholder["0"].BotToken'
                                       v-model='createdata["0"].BotToken'>
                            </div>
                            <!--    <div class="uk-margin">
                                <select class="uk-select">
                                    <option>{{placeholder["0"].City}}</option>
                                </select>
                            </div>-->

                        </fieldset>

                        <div class="centre">

                            <button type="submit"
                                    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                    value="return to login page!">ok</button>
                            <button v-on:click="regVisible=false"
                                    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                    value="return to login page!">cancel</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div v-else>
        <div v-if="modVisible">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container" style>
                        <form @submit.prevent="updateHandler">

                            <fieldset class="uk-fieldset">

                                <legend class="uk-legend">Обновление записи</legend>

                                <!--  <div class="uk-margin">
                                    <input class="uk-input" type="text" :placeholder='placeholder["0"].login'>
                                </div>
                              -->
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" :placeholder='placeholder["0"].ChatLink'
                                           v-model='updatedata["0"].ChatLink'>
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" :placeholder='placeholder["0"].BotToken'
                                           v-model='updatedata["0"].BotToken'>
                                </div>




                            </fieldset>

                            <div class="centre">

                                <button type="submit"
                                        class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                        value="return to login page!">ok</button>
                                <button v-on:click="modVisible=false"
                                        class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                        value="return to login page!">cancel</button>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <div v-else>

            <div class="modal-mask" style="background-color: rgba(0, 0, 0, 0)">

                <div class="modal-wrapper">

                    <div class="modal-container">

                        <div id='list-wrapper' v-if="posts.length > 0">

                            <table class="uk-table">

                                <thead>
                                    <th>Login</th>
                                    <th>ChatLink</th>
                                    <th>BotToken </th>
                                    <th>Button </th>
                                </thead>


                                <tbody><tr v-for="post in posts">

                                    <td>
                                        <div class="break">{{ post.login }}</div>
                                    </td>
                                    <td >
                                        <div class="break">{{ post.ChatLink }}</div>
                                    </td>
                                    <td class="">
                                        <div class="break">{{ post.BotToken }}</div>
                                    </td>
                                   
                                    <td> <button onclick=" app.modVisible=true"
                                                 class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                                 style="font-size: 2rem;padding:0 1px;" value="return to login page!">
                                        &#9998;</button></td>
                                </tr>
                            </tbody>

                            </table>

                        </div>
                        <div id='list-wrapper' v-else>
                            <table>

                                <tr>
                                    <td> Login</td>
                                    <td> Chat Link</td>
                                    <td> Bot Token</td>
                                    <td> City</td>
                                </tr>

                                <tr>
                                    <td colspan="4">Пустовато...</td>
                                </tr>

                            </table>
                            <button onclick=" app.regVisible=true"
                                    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                    style="padding:0 1px;" value="return to login page!">
                                добавить запись</button>
                        </div>
                        <div class="centre">

                            <button onclick='location.href="/auth/index"' class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                    value="return to login page!">к постам</button>
                            <button onclick=" app.removeLog()"
                                    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                    value="return to login page!">выйти из аккаунта</button>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
<script src="/static/js/compressed.js"></script>

<link rel="stylesheet" href="/static/css/uikit.min.css" />

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


    const app = new Vue({
        el: '#app',
        data: {
            login: '[[.User]]',
            posts: [
            ],
            placeholder: [
                //  { login: "test", ChatLink: "ChatLink", BotToken: "Bot Token", City: "City" },
                { login: "mail", ChatLink: "t.me/chat", BotToken: "123456:ABCDEF1234ghIklzyx57W2v1u123ew11", City: "City" },

            ],
            updatedata: [
                //  { login: "test", ChatLink: "ChatLink", BotToken: "Bot Token", City: "City" },
                { login: "mail", ChatLink: "t.me/chat", BotToken: "123456:ABCDEF1234ghIklzyx57W2v1u123ew11", City: "City" },

            ],
            createdata: [
                //  { login: "test", ChatLink: "ChatLink", BotToken: "Bot Token", City: "City" },
                { login: "mail", ChatLink: "t.me/chat", BotToken: "123456:ABCDEF1234ghIklzyx57W2v1u123ew11", City: "City" },

            ],
            modVisible: false,
            regVisible: false,

        },
        created() {

            console.log("send")
            axios.get(`/auth/get_config`)
                .then(function (response) {
                    // handle success
                    console.log(response);
                    if (response.data.Error != null) {
                        console.log(response.data.Error);

                    } else {
                        console.log("created ok")
                        console.log(decodeURIComponent(response.data["0"].Login))
                        app.posts = [{
                            login: decodeURIComponent(response.data["0"].Login), ChatLink: response.data["0"].ChatLink,
                            BotToken: response.data["0"].BotToken, City: response.data["0"].City
                        }]
                        app.placeholder = [{
                            login: decodeURIComponent(response.data["0"].Login), ChatLink: response.data["0"].ChatLink,
                            BotToken: response.data["0"].BotToken, City: response.data["0"].City
                        }]
                        app.updatedata = [{
                            login: decodeURIComponent(response.data["0"].Login), ChatLink: response.data["0"].ChatLink,
                            BotToken: response.data["0"].BotToken, City: response.data["0"].City
                        }]
                    }

                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
        },
        methods: {
            createConfig() {


            },
            removeLog() {
                $cookies.remove("login")
                $cookies.remove("password")
                location.href = '/reg'
            },
            updateHandler() {

                this.errors = [];
                console.log("ChatLink: " + this.updatedata["0"].ChatLink + " BotToken: " + this.updatedata["0"].BotToken)
                axios.get(`/auth/create_config?chatLink=${this.updatedata["0"].ChatLink}&token=${this.updatedata["0"].BotToken}&city=city`)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        if (response.data.Error != null) {
                            console.log(response.data.Error);

                        } else {
                            console.log("created ok")
                            console.log(decodeURIComponent(response.data.User.Login))
                            app.posts = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                            app.placeholder = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                            app.updatedata = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                        }


                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
                app.modVisible= false
            },
            createHandler() {

                this.errors = [];
                console.log("ChatLink: " + this.createdata["0"].ChatLink + " BotToken: " + this.createdata["0"].BotToken)
                console.log("send")
                axios.get(`/auth/create_config?chatLink=${this.createdata["0"].ChatLink}&token=${this.createdata["0"].BotToken}&city=city`)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        if (response.data.Error != null) {
                            console.log(response.data.Error);

                        } else {
                            console.log("created ok")
                            console.log(decodeURIComponent(response.data.User.Login))
                            app.posts = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                            app.placeholder = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                            app.updatedata = [{
                                login: decodeURIComponent(response.data.User.Login), ChatLink: response.data.User.ChatLink,
                                BotToken: response.data.User.BotToken, City: response.data.User.City
                            }]
                        }

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
                app.regVisible = false
            },
        }

    })



</script>

<link rel="stylesheet" type="text/css" href="/static/css/sandbox.css" />
<!-- template for the modal component -->


<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

</html>