<!DOCTYPE html>
<html>

<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/jquery.min.js"
        integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/respond.min.js"
        integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css"
        integrity="sha512-cp9JSDyi0CDCvBfFKYLWXevb3r8hRv5JxcxLkUq/LEtAmOg7X0yzR3p0x/g+S3aWcZw18mhxsCXyelKWmXgzzg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"
        integrity="sha512-6f7HT84a/AplPkpSRSKWqbseRTG4aRrhadjZezYQ0oVk/B+nm/US5KzQkyyOyh0Mn9cyDdChRdS9qaxJRHayww=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"
        integrity="sha512-GG/1z6B4MVJdQOw35lE4otrbjd2WYV+zhXgjUR+DTeaAc7s/ijgWsexEScSOIo8J4RlhC28CVerDjYQSH89ekQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</header>
<style>
    @font-face {
        font-family: 'Symbola';
        src: url('/static/ttf/Symbola.ttf');
    }


    .mainContainer {
        padding-top: 10px;

        width: 70%;

        border-radius: 6px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
</style>

<head>
    <title>Modal Component</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sandbox.css" />

</head>

<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/auth/">Туда</a></li>
                    <li><a href="/about">Сюда</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="app">
        <div v-if="modVisible">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div v-if="HttpError">
                        <div class="modal-container">
                            <div>Ошибка! Бот не привязан к чату. Для привязки отправьте в чат команду </div>
                            "/link t.me/joinchat/12fdf4wrfw4", где заместо ссылки аналогично укажите адрес на свою
                            группу.
                            <div style="padding-left: 30px;">
                                <button v-on:click="modVisible=false;HttpError=false " class="btn btn-lg btn-danger"
                                    style="width: 150px;">cancel</button>
                            </div>

                        </div>

                    </div>
                    <div v-else>
                        <div class="modal-container">
                            <form @submit.prevent="subHandler">
                                <vue-ctk-date-time-picker locale="en" v-model="date" :range="false">
                                </vue-ctk-date-time-picker>
                                <div style="padding-top: 4px;"> <input type="text" value="" placeholder="сообщение"
                                        v-model="message" class="form-control"></div>

                                <div>
                                    <div style="padding-top: 10px;padding-bottom: 10px;">
                                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                            <label><input class="uk-radio" type="radio" name="radio2" value=false
                                                    v-model="picked" checked> Один раз</label>
                                            <label><input class="uk-radio" type="radio" name="radio2" value=true
                                                    v-model="picked"> Повтор</label>
                                        </div>
                                        <div v-if="picked=='true'">
                                            
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Monday" value="Monday" >

                                                            понедельник</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Tuesday" value="Tuesday" >

                                                            вторник</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Wednesday" value="Wednesday" >

                                                            среда</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Thursday" value="Thursday" >

                                                            четверг</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Friday" value="Friday" >

                                                            пятница</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Saturday" value="Saturday" >

                                                            суббота</label></div>
                                                    <div><label><input class="uk-checkbox" type="checkbox"
                                                                name="radio1" v-model="checkedNames" id="Sunday" value="Sunday" >
                                                            воскресенье</label></div>
                                                </div>
                                            </div>
                                            <br>
                                            <span>Отмеченные имена: {{ checkedNames }}</span>
                                        </div>
                                        <div v-else></div>
                                    </div>

                                </div>
                                <input type="file" id="file" ref="file"  class="uk-input"  v-on:change="handleFileUpload()"/>
                                <div style="padding-left: 30px;">
                                    <button v-on:click="modVisible=false" class="btn btn-lg btn-danger"
                                        style="width: 150px;">cancel</button>

                                    <button type="submit" class="btn btn-lg btn-success"
                                        style="width: 150px;">ok</button>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div v-else>
            <div style="">
                <button v-on:click="inst()" class="btn btn-lg btn-success">Запланировать</button>
                <button v-on:click="updatePosts()" class="btn btn-lg btn-inverse">Обновить список</a></button>

            </div>

            <div v-if="items.length>0">
                <div style="padding-top: 10px;">
                    <div class="mainContainer">
                        <div v-for="item in items" :key="item.message">
                            <div style="padding-left: 0px;padding-top: 20px;padding-right: 20px;">
                                <div class="uk-card uk-card-default " style="padding: 10px 0px;">
                                    <div>Запланировано на {{item.Date}} в {{item.Time}} с периодичностью {{item.Period}} ID: {{item.ID}}
                                        <button v-on:click="deletepost(item.ID)" class="uk-button uk-button-default"
                                            style="padding: 0px 4px;font-size: .875rem;
                                        line-height: 30px;">Удалить</button>
                                    </div>
                                    <div>{{item.Message}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    </div>
</body>
<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.css">
<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.0.6/dist/vue-ctk-date-time-picker.umd.min.js"
    charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ru.vuejs.org/js/vue.js"></script>
<script type="text/javascript" src="/pages/posts/posts.js" charset="utf-8"></script>

</html>